<ion-view view-title="Usuários Próximos">
    <ion-content class="padding">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list">
            <a class="item item-avatar" href="#">
                <img src="http://placehold.it/200/2ecc71/ffffff&text=J">
                <h2>João Silva</h2>
                <p>200m</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="http://placehold.it/200/1abc9c/ffffff&text=P">
                <h2>Pedro Silva</h2>
                <p>200m</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="http://placehold.it/200/3498db/ffffff&text=F">
                <h2>Felipe Silva</h2>
                <p>200m</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="http://placehold.it/200/9b59b6/ffffff&text=C">
                <h2>Carlos Silva</h2>
                <p>200m</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="http://placehold.it/200/e74c3c/ffffff&text=M">
                <h2>Maria Silva</h2>
                <p>200m</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="http://placehold.it/200/f1c40f/ffffff&text=F">
                <h2>Fernanda Silva</h2>
                <p>200m</p>
            </a>

      </div>
    </ion-content>
</ion-view>
