<ion-view view-title="Alterar Dados">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="João Silva">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="email@domain.com">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-balanced">Salvar</button>
            <button class="button button-block button-light">Alterar Senha</button>
            <button ng-click="logout()" class="button button-block button-light">Sair</button>
        </div>
    </ion-content>
</ion-view>
